/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



.feedback
{
  background-image: url("../../images/image_1.jpg");
}

.contact
{
  margin-top: 50px;
}



.row2
{
  background-image: url("../../images/hero2.jpg") top center norepeat;
}


.row2
{
  margin-top: 100px;
}



.navbar-brand {
  padding: 13px 15px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

   html, body {
       max-width: 100%;
       overflow-x: hidden;
   }
ul.unstyled
{
  list-style:none;
  padding: 0;
    font-size: 15px;
    color:white;
  }

li
{

  list-style:none;
  padding: 0;
 font-size: 15px;
}
 a
{
  color: white;
 texr-decoration:none;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

/* --------------------------------------
   Carousel
   -------------------------------------- */

img#img2.im{
  width:100%;
}
img#img3.im{
  width:100%;
}
img#img4.im{
  width:100%;
}
img#img5.im{
  width:100%;
}
img#img6.im{
  width:100%;
}
img#img1.im{
  width:100%;
}
#services
{
  text-align:center;
}
.row4
{
  margin-bottom:30px;
}
.panel-title
{
  text-align: center;
}
#img1
{
   width: 400px;
  height:242px;
  position:relative;
}

#img1:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  opacity:0;
  background:black;
  transition:all 0.5s;
  color:white;
}
#img1:hover{
  opacity:0.5;

}

#img2
{
   width: 400px;
  height:242px;
  position:relative;
}

#img2:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height: 300px;
  opacity:0;
  background:black;
  transition:all 0.5s;
  color:white;
}
#img2:hover{
  opacity:0.5;

}

#img3
{
   width: 400px;
  height:242px;
  position:relative;

}

#img3:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height: 300px;
  opacity:0;
  background:rgba(0,0,0,0.6);
  transition:all 0.5s;
  color:black;
}
#img3:hover{
  opacity:0.5;

}

#img4
{
  width: 400px;
  height:242px;
  position:relative;
}

#img4:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height: 300px;
  opacity:0;
  background:rgba(0,0,0,0.6);
  transition:all 0.5s;
  color:black;
}
#img4:hover{
  opacity:0.5;

}

#img5
{
  width: 400px;
  height:242px;
  position:relative;
}

#img5:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height: 300px;
  opacity:0;
  background:rgba(0,0,0,0.6);
  transition:all 0.5s;
  color:black;
}
#img5:hover{
  opacity:0.5;

}

#img6
{
  width: 400px;
  height:242px;
  position:relative;
}

#img6:after
{
  content:'NATURE';
  position:absolute;
  top:0;
  left:0;
  width:300px;
  height: 300px;
  opacity:0;
  background:rgba(0,0,0,0.6);
  transition:all 0.5s;
  color:black;
}
#img6:hover{
  opacity:0.5;

}
.container-fluid {
    padding: 0px;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.mygrid
{
  margin-right: 0px;
}


#myCarousel .item 
{
  height: 300px;
}
#slide1 {
  background: url('../../images/slide1.jpg') top center no-repeat;
}

#slide2 {
  background: url('../../images/slide2.jpg') top center no-repeat;
}

#slide3 {
  background: url('../../images/slide3.jpg') top center no-repeat;
}
/*footer*/
footer
{
  background-color: grey;
  color: white;
}
.socialbuttons ul
{
color:white;
margin-top: 10px;
font-size: 30px;

}
/*footer-end*/

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #118DF0;
}
.contact-info li a {
  color: #118DF0;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {


}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {

#myCarousel .item { height: 400px; }
  
  #slide1 {
    background: url('../../images/slide1.jpg') top center no-repeat;
  }
  
  #slide2 {
    background: url('../../images/slide2.jpg') top center no-repeat;
  }
  
  #slide3 {
    background: url('../../images/slide3.jpg') top center no-repeat;
  }
  
  .carousel-caption {
    font-size: 16px;
  }
  
  .carousel-caption h4 {
    font-size: 22px;
  }
  


}

/* Large desktop */
@media (min-width: 1200px) {

#myCarousel .item { height: 600px; }
  
  #slide1 {
    background: url('../../images/slide1.jpg') top center no-repeat;
  }
  
  #slide2 {
    background: url('../../images/slide2.jpg') top center no-repeat;
  }
  
  #slide3 {
    background: url('../../images/slide3.jpg') top center no-repeat;
  }


}
